/* importing font  */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans";
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #23242a;

}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.box::before{
    content: "";
    z-index: 1;
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    transform-origin: bottom right;
    background-color: #ff0004;
    background-image: linear-gradient(225deg, #ff0004 0%, #591c9b 50%, #ff0003 100%);
    animation: animate 6s linear infinite;
    animation-delay: -3s ;
}
.box::after{
    content: "";
    z-index: 1;
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    transform-origin: bottom right;
    background-color: #ff0004;
    background-image: linear-gradient(225deg, #ff0004 0%, #591c9b 50%, #ff0003 100%);
    animation: animate 6s linear infinite;
    /* animation-delay: -3s; */
}
@keyframes animate{
     0%{
        transform: rotate(0deg);
     }
     100%{
        transform: rotate(360deg);
     }
}
form{
    position: absolute;
    inset: 2px;
    background: #242529;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
h2{
    color: #45f3ff;
    font-weight: 500px;
    text-align: center;
    letter-spacing: 0.1rem;
}
.inputbox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.inputbox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    color: #ff0004;
    font-size: 1rem;
    transition: 0.5s;
    z-index: 10;

}
.inputbox span{
    position: absolute;
    left: 0;
    padding: 20px 0 10px;
    pointer-events: none;
    font-size: 1rem;
    color: #8f8f8f;
    letter-spacing: 0.05rem;
    transition: 0.5s;

}
.inputbox input:valid ~ span , 
.inputbox input:focus ~ span{
    color: #45f3ff;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75rem;
    z-index: 20;
} 
.inputbox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #456365;
    border-radius: 4px;
    overflow: hidden;
    transform: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.inputbox input:valid ~ i,
.inputbox input:focus ~ i{
    height: 44px;
}
.links{
    display: flex;
    justify-content: space-between;
}
.links a{
    margin: 10px 0px;
    font-size: 0.75rem;
    color: #8f8f8f;
    text-decoration: beige;
}
.links a:hover{
    color: #45f3ff;
}
/* .submit{
    border: none;
    outline: none;
    padding: 11px 25px;
    background: #45f3ff;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600px;
    width: 100px;
    margin-top: 10px;
}
input.submit:hover{
    background: #456365;
    color: white;
}
input.submit:visited{
    background: #456365;
    color: white;
} */
button{
    border: none;
    outline: none;
    padding: 11px 25px;
    background: #45f3ff;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600px;
    width: 100px;
    margin-top: 10px;
}
button:hover{
    background: #456365;
    color: white;
}
button:visited{
    background: #456365;
    color: white;
}